# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# production
/build

# prisma / local db
/prisma/*.db
/prisma/*.db-journal
/prisma/migrations/dev.db

# env
.env
.env*.local

# testing
/coverage
/playwright-report
/test-results
/.playwright

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel

# TypeScript incremental build cache
*.tsbuildinfo
